
    body{

       background-color: hsl(192, 45%, 70%)   
    }

    .content {
        width: 205px;
        height: 350px;
        margin: auto;
        background: white;
        padding: 15px;
        padding-right: 15px;
        padding-left: 10px;
        padding-top: 10px;
        border-radius: 25px;
        margin-top: 150px;
    }
       img {
  /* border-radius: 100px; */
}

span{
    font-size: small;
    
    color: rgb(32, 32, 32);
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif    
}
.text{
    text-align: center;
    font-size: small;
    color: rgb(124, 126, 128);
}
